In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("supershops.csv")

In [6]:
df2=df.copy()
df3=df.copy()
df4=df.copy()
df5=df.copy()
df6=df.copy()
df7=df

In [4]:
id(df)

2225835353440

In [5]:
id(df2)

2225851432336

In [7]:
id(df7)

2225835353440

In [8]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [9]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [10]:
df.dropna()

    Marketing Spend  Administration  Transport     Area     Profit
0         114523.61       136897.80  471784.10    Dhaka  192261.83
1         162597.70       151377.59  443898.53      Ctg  191792.06
2         153441.51       101145.55  407934.54  Rangpur  191050.39
3         144372.41       118671.85  383199.62    Dhaka  182901.99
4         142107.34        91391.77  366168.42  Rangpur  166187.94
5         131876.90        99814.71  362861.36    Dhaka  156991.12
6         134615.46       147198.87  127716.82      Ctg  156122.51
7         130298.13       145530.06  323876.68  Rangpur  155752.60
8         120542.52       148718.95  311613.29    Dhaka  152211.77
9         123334.88       108679.17  304981.62      Ctg  149759.96
10        101913.08       110594.11  229160.95  Rangpur  146121.95
11        100671.96        91790.61  249744.55      Ctg  144259.40
12         93863.75       127320.38  249839.44  Rangpur  141585.52
13         91992.39       135495.07  252664.93      Ctg  134307.35
14        119943.24       156547.42  256512.92  Rangpur  132602.65
15        165349.20       122616.84  261776.23    Dhaka  129917.04
16         78013.11       121597.55  264346.06      Ctg  126992.93
17         94657.16       145077.58  282574.31    Dhaka  125370.37
18         91749.16       114175.79  294919.57  Rangpur  124266.90
20         76253.86       113867.30  298664.47      Ctg  118474.03
21         78389.47       153773.43  299737.29    Dhaka  111313.02
22         73994.56       122782.75  303319.26  Rangpur  110352.25
23         67532.53       105751.03  304768.73  Rangpur  108733.99
24         77044.01        99281.34  140574.81    Dhaka  108552.04
25         64664.71       139553.16  137962.62      Ctg  107404.34
26         75328.87       144135.98  134050.07  Rangpur  105733.54
27         72107.60       127864.55  353183.81    Dhaka  105008.31
28         66051.52       182645.56  118148.20  Rangpur  103282.38
29         65605.48       153032.06  107138.38    Dhaka  101004.64
30         61994.48       115641.28   91131.24  Rangpur   99937.59
31         61136.38       152701.92   88218.23    Dhaka   97483.56
32         63408.86       129219.61   46085.25      Ctg   97427.84
33         55493.95       103057.49  214634.81  Rangpur   96778.92
34         46426.07       157693.92  210797.67      Ctg   96712.80
35         46014.02        85047.44  205517.64    Dhaka   96479.51
36         28663.76       127056.21  201126.82  Rangpur   90708.19
37         44069.95        51283.14  197029.42      Ctg   89949.14
38         20229.59        65947.93  185265.10    Dhaka   81229.06
39         38558.51        82982.09  174999.30      Ctg   81005.76
40         28754.33       118546.05  172795.67      Ctg   78239.91
41         27892.92        84710.77  164470.71  Rangpur   77798.83
42         23640.93        96189.63  148001.11      Ctg   71498.49
43         15505.73       127382.30   35534.17    Dhaka   69758.98
44         22177.74       154806.14   28334.72      Ctg   65200.33
45          1000.23       124153.04    1903.93    Dhaka   64926.08
46          1315.46       115816.21  297114.46  Rangpur   49490.75
47             0.00       135426.92       0.00      Ctg   42559.73
48           542.05        51743.15       0.00    Dhaka   35673.41
49             0.00       116983.80   45173.06      Ctg   14681.40

In [11]:
df.shape

(50, 5)

In [12]:
df.dropna().shape

(49, 5)

In [13]:
df=df.dropna()
df.shape

(49, 5)

In [14]:
df=df2.copy()

In [15]:
df.shape

(50, 5)

In [16]:
df.dropna(inplace=True)

In [17]:
df.shape

(49, 5)

# Min/MaxScaler/ Normalization

In [18]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
m=MinMaxScaler()

In [20]:
df['Marketing Spend']=m.fit_transform(df[['Marketing Spend']])

In [21]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617       136897.80  471784.10    Dhaka  192261.83
1         0.983359       151377.59  443898.53      Ctg  191792.06
2         0.927985       101145.55  407934.54  Rangpur  191050.39
3         0.873136       118671.85  383199.62    Dhaka  182901.99
4         0.859438        91391.77  366168.42  Rangpur  166187.94

In [22]:
ad=m.fit(df[['Administration']])

In [23]:
ad

MinMaxScaler()

In [25]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617       136897.80  471784.10    Dhaka  192261.83
1         0.983359       151377.59  443898.53      Ctg  191792.06
2         0.927985       101145.55  407934.54  Rangpur  191050.39
3         0.873136       118671.85  383199.62    Dhaka  182901.99
4         0.859438        91391.77  366168.42  Rangpur  166187.94

In [26]:
df['Administration_Transform']=m.transform(df[['Administration']])

In [27]:
df.head()

,Marketing Spend,Administration,Transport,Area,Profit,Administration_Transform
0,0.692617,136897.80,471784.10,Dhaka,192261.83,0.651744
1,0.983359,151377.59,443898.53,Ctg,191792.06,0.761972
2,0.927985,101145.55,407934.54,Rangpur,191050.39,0.379579
3,0.873136,118671.85,383199.62,Dhaka,182901.99,0.512998
4,0.859438,91391.77,366168.42,Rangpur,166187.94,0.305328

# StandarDization

In [28]:
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [29]:
from sklearn.preprocessing import StandardScaler

In [30]:
scaler=StandardScaler()

In [32]:
df2['Marketing Spend Transform']=scaler.fit_transform(df2[['Marketing Spend']])

In [33]:
df2.head()

,Marketing Spend,Administration,Transport,Area,Profit,Marketing Spend Transform
0,114523.61,136897.80,471784.10,Dhaka,192261.83,0.897913
1,162597.70,151377.59,443898.53,Ctg,191792.06,1.955860
2,153441.51,101145.55,407934.54,Rangpur,191050.39,1.754364
3,144372.41,118671.85,383199.62,Dhaka,182901.99,1.554784
4,142107.34,91391.77,366168.42,Rangpur,166187.94,1.504937

In [34]:
df.head()

,Marketing Spend,Administration,Transport,Area,Profit,Administration_Transform
0,0.692617,136897.80,471784.10,Dhaka,192261.83,0.651744
1,0.983359,151377.59,443898.53,Ctg,191792.06,0.761972
2,0.927985,101145.55,407934.54,Rangpur,191050.39,0.379579
3,0.873136,118671.85,383199.62,Dhaka,182901.99,0.512998
4,0.859438,91391.77,366168.42,Rangpur,166187.94,0.305328

# Max Absolute Scaler

In [35]:
from sklearn.preprocessing import MaxAbsScaler

In [36]:
scaler=MaxAbsScaler()

In [37]:
df3['Marketing Spend Transform']=scaler.fit_transform(df3[['Marketing Spend']])

In [38]:
df3.head()

,Marketing Spend,Administration,Transport,Area,Profit,Marketing Spend Transform
0,114523.61,136897.80,471784.10,Dhaka,192261.83,0.692617
1,162597.70,151377.59,443898.53,Ctg,191792.06,0.983359
2,153441.51,101145.55,407934.54,Rangpur,191050.39,0.927985
3,144372.41,118671.85,383199.62,Dhaka,182901.99,0.873136
4,142107.34,91391.77,366168.42,Rangpur,166187.94,0.859438

# Robust Scaler

In [39]:
from sklearn.preprocessing import RobustScaler

In [40]:
scaler=RobustScaler()

In [41]:
df4['Marketing Spend Transform']=scaler.fit_transform(df4[['Marketing Spend']])

In [42]:
df4.head()

,Marketing Spend,Administration,Transport,Area,Profit,Marketing Spend Transform
0,114523.61,136897.80,471784.10,Dhaka,192261.83,0.672530
1,162597.70,151377.59,443898.53,Ctg,191792.06,1.452113
2,153441.51,101145.55,407934.54,Rangpur,191050.39,1.303634
3,144372.41,118671.85,383199.62,Dhaka,182901.99,1.156567
4,142107.34,91391.77,366168.42,Rangpur,166187.94,1.119836

In [48]:
dataset=[8,9,2,10,3,5,7,12,15]

In [49]:
len(dataset)

9

In [50]:
q1=np.percentile(dataset,25)
q1

5.0

In [51]:
q2=np.percentile(dataset,50)
q2

8.0

In [52]:
q3=np.percentile(dataset,75)
q3

10.0

In [66]:
dataset.append(18)
dataset

[8, 9, 2, 10, 3, 5, 7, 12, 15, 15, 17, 18]

In [62]:
del dataset[9]

In [63]:
dataset

[8, 9, 2, 10, 3, 5, 7, 12, 15]

In [67]:
q1=np.percentile(dataset,25)

In [68]:
q1

6.5

In [69]:
q2=np.percentile(dataset,50)
q2

9.5

In [70]:
q3=np.percentile(dataset,75)
q3

15.0

In [76]:
dataset.sort()

In [77]:
dataset

[2, 3, 5, 7, 8, 9, 10, 12, 15, 15, 17, 18]